<configuration>
	<appSettings>
	  	<!-- 
	  		federated identity configuration 
	  	-->
	    <add key="fedauth.identityProviderUrl" value="" />
	    <add key="fedauth.realm" value="" />
	    <add key="fedauth.replyUrl" value="" />
	    <add key="fedauth.certThumbprint" value="" />
	    <add key="fedauth.requireSsl" value="false" />
	    <add key="fedauth.enableManualRedirect" value="false" />
	</appSettings>
	<system.web>
	    <httpModules>
            <add name="WSFederationAuthenticationModule" type="$rootnamespace$.FederatedIdentity.Infrastructure.CustomWSFederationAuthenticationModule" />
            <add name="SessionAuthenticationModule" type="$rootnamespace$.FederatedIdentity.Infrastructure.CustomSessionAuthenticationModule" />
        </httpModules>
  	</system.web>
  	<system.webServer>
      <modules>
        <add name="WSFederationAuthenticationModule" preCondition="managedHandler" type="$rootnamespace$.FederatedIdentity.Infrastructure.CustomWSFederationAuthenticationModule" />
        <add name="SessionAuthenticationModule" preCondition="managedHandler" type="$rootnamespace$.FederatedIdentity.Infrastructure.CustomSessionAuthenticationModule" />
      </modules>
    </system.webServer>
</configuration>