<configuration>
	<appSettings>
	  	<!-- 
	  		federated identity configuration 
	  	-->
	    <add key="fedauth.identityProviderUrl" value="" />
	    <add key="fedauth.realm" value="" />
	    <add key="fedauth.replyUrl" value="" />
	    <add key="fedauth.certThumbprint" value="" />
	    <add key="fedauth.requireSsl" value="false" />
	    <add key="fedauth.enableManualRedirect" value="false" />
	</appSettings>
	<system.web>
	    <httpRuntime requestValidationMode="2.0"
	                 requestValidationType="Auth10.FederatedIdentity.Infrastructure.AllowTokenPostRequestValidator" />
  	</system.web>
</configuration>